
<!--
<header class="ae-container-fluid ae-container-fluid--full rk-header   " style="color: black;">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    
  <div class="ae-container-fluid rk-topbar ">
    <div class="rk-logo"style="margin-top:0mm; color: black; ">
      <a class="text-dark"  routerLink="/home" >
        <img src="assets/img/bumper.jpg" class="img-fluid" style=" width: 100px; margin-top: 0mm;">
      </a>
    </div>
    <nav class="rk-navigation  " style="margin-top:18px; color: black;" >
      <ul class="rk-menu" >
        
        <li routerLinkActive="active" class="rk-menu__item">
            <div style="font-size: 12px; color: black">
          <a routerLink="/home" class="rk-menu__link text-dark ">Inicio</a>
            </div>
        </li>
        <li routerLinkActive="active"class=" rk-menu__item" >
            <div style="font-size: 12px; ">
          <a routerLink="catalogo" class="rk-menu__link" style="color: black">Catalogo</a>
            </div>
        </li>
       
        <li routerLinkActive="active"class="rk-menu__item">
          
          <a routerLink="contact" class="rk-menu__link">
              <div style="font-size: 12px; color: black">
            Contacto
              </div></a>
        </li>
     
      </ul>
      <form class="rk-search">
        <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form>
    </nav>
  </div>

</header>
-->

<header class="navegation " >


  <div class="icono">
    
    <a routerLink="/home"  >
      <img src="assets/img/bumper.jpg" style="height: 70px;" >
      </a>
  </div>
  
    <!--
       <button class="btn" > 
         <img src="assets/img/menu.png" alt="" style="height: 30px;" >
       </button>
        -->
        <nav class="navbar navbar-white bg-white ver" style="float: right;">
         
            <button class="navbar-toggler" style="outline: none;" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> <img src="assets/img/menu.png" alt="" style="height: 30px;" ></span>
            </button>
          
       
          </nav>
       
              <div class="collapse" id="navbarToggleExternalContent" style="margin-top: 70px;">
                  <div class="bg-white p-4 ">
                      <ul class="lista">
             
                          <li routerLinkActive="active">
                            <a routerLink="/home">Inicio</a>
                          </li>
                          <li routerLinkActive="active">
                            <a routerLink="catalogo">catalogo</a>
                          </li>
                          <li routerLinkActive="active">
                            <a routerLink="contact">contacto</a>
                          </li>
                        </ul>
                  </div>
                </div>
         
 
    <nav class="menu">
      
    
      <ul >
       
        <li routerLinkActive="active">
          <a routerLink="/home">Inicio</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="catalogo">catalogo</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="contact">contacto</a>
        </li>
      </ul>
   

  </nav>
 

</header>


