
<div >

     
        <form  (submit)="ingresar(name,pass)" class="cards ae-form--full" style="margin-top:100px;margin-bottom: 100px">
          
            <!-- Username -->
            <div class="">
              <div class="card1-content">
                <h5>Usuario:</h5>
                <input type="text"  style="height:10px; width: 400px; text-align: center;" name="name"  #name >
              </div>
            <!-- Password -->
              <div class="card-content" >
                  <h5>Contraseña:</h5>
                  <input type="password" class="form-control input-sm"  name="password" style="height:10px;" #pass >
                            
              </div>
              
                <button class="btn btn-primary" type="submit">Ingresar </button>
                
              </div>
              
      </form>
      </div>